<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Batch</title>
</head>
<body>

<h2>Batch</h2>
<form th:object="${batch}" method="post">
    <div>
        <div style="padding: 10px">
            <label>Name:</label>
            <input type="text" class="form-control" th:field="*{name}"/>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </div>
        <div style="padding: 10px">
            <label>Freezer:</label>
            <select th:field="*{freezer.name}">
                <option th:each="freez : ${freezers}" th:value="${freez}" th:text="${freez}"></option>
            </select>
            <td th:if="${#fields.hasErrors('freezer')}" th:errors="*{freezer}">Name Error</td>
        </div>
        <div style="padding: 10px">
            <label>Style:</label>
            <input type="text" class="form-control" th:field="*{style}"/>
            <td th:if="${#fields.hasErrors('style')}" th:errors="*{style}">Name Error</td>
        </div>
        <div style="padding: 10px">
            <label>BatchType:</label>
            <select name="batchType">
                <option th:value="0" text="Please Select" disabled selected></option>
                <option th:each="typeOpt : ${T(com.agh.database.brewingdatabaseapp.model.BatchType).values()}"
                        th:value="${typeOpt}" th:text="${typeOpt}"></option>
            </select>
            <td th:if="${#fields.hasErrors('batchType')}" th:errors="*{batchType}">Name Error</td>
        </div>
        <div style="padding: 10px">
            <label>BrewedDate:</label>
            <input type="date" class="form-control" th:field="*{brewedDate}"/>
            <td th:if="${#fields.hasErrors('brewedDate')}" th:errors="*{brewedDate}">Name Error</td>
        </div>
        <div style="padding: 10px">
            <label>BottledDate:</label>
            <input type="date" class="form-control" th:field="*{bottledDate}"/>
            <td th:if="${#fields.hasErrors('bottledDate')}" th:errors="*{bottledDate}">Name Error</td>
        </div>
    </div>



    <table id="batches" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 200px;">Ingredient name</th>
            <th style="width: 200px;">Amount</th>
            <th style="width: 200px;">Time</th>
            <th style="width: 200px;">Technique</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="batchIngredient, itemStat : *{batchIngredients}">
            <td th:text="*{batchIngredients[__${itemStat.index}__].ingredientName}"/>
            <td><input th:field="*{batchIngredients[__${itemStat.index}__].amount}" /></td>
            <td><input th:field="*{batchIngredients[__${itemStat.index}__].time}" /></td>
            <td>
                <select th:field="*{batchIngredients[__${itemStat.index}__].techniqueType}">
                    <option th:value="0" text="Please Select" disabled selected></option>
                    <option th:each="typeOpt : ${T(com.agh.database.brewingdatabaseapp.model.TechniqueType).values()}"
                            th:value="${typeOpt}" th:text="${typeOpt}"></option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>



    <div>
        <div style="padding: 10px">
            <button type="submit">Add Batch</button>
        </div>
    </div>
</form>



</body>
</html>