<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--NAVBAR ADDING-->
<div th:insert="fragments/header :: navbar"></div>


<h2>Ingredient</h2>
<form th:object="${ingredient}" method="post">
    <div>
        <div style="padding: 10px">
            <label>Name:</label>
            <td th:text="*{name}"/>
            <td hidden><input hidden th:field="*{name}" /></td>
        </div>
        <div style="padding: 10px">
            <label>Type:</label>
            <td th:text="*{ingredientType}"/>
            <td hidden><input hidden th:field="*{ingredientType}" /></td>
        </div>
        <div style="padding: 10px">
            <label>Description:</label>
            <input type="text" class="form-control" th:field="*{description}"/>
            <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Error</td>
            <td hidden><input hidden th:field="*{id}" /></td>
        </div>
    </div>
    <div>
        <div style="padding: 10px">
            <button type="submit">Edit Ingredient</button>
        </div>
    </div>
</form>


</body>
</html>