<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--NAVBAR ADDING-->
<div th:insert="fragments/header :: navbar"></div>


<h2>Ingredient</h2>
<form th:object="${ingredient}" method="post">
    <div>
        <div style="padding: 10px">
            <label>Name:</label>
            <input type="text" class="form-control" th:field="*{name}"/>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </div>
        <div style="padding: 10px">
            <label>BatchType:</label>
            <select name="ingredientType">
                <option th:value="0" text="Please Select" disabled selected></option>
                <option th:each="typeOpt : ${T(com.agh.database.brewingdatabaseapp.model.IngredientType).values()}"
                        th:value="${typeOpt}" th:text="${typeOpt}"></option>
            </select>
            <td th:if="${#fields.hasErrors('ingredientType')}" th:errors="*{ingredientType}">Name Error</td>
        </div>
        <div style="padding: 10px">
            <label>Description:</label>
            <input type="text" class="form-control" th:field="*{description}"/>
            <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Name Error</td>
        </div>
    </div>
    <div>
        <div style="padding: 10px">
            <button type="submit">Add Ingredient</button>
        </div>
    </div>
</form>


</body>
</html>