<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<!--NAVBAR ADDING-->
<div th:insert="fragments/header :: navbar"></div>

<body>
<h2>Batch</h2>
<form th:object="${log}" method="post">
    <div>
        <div style="padding: 10px">
            <label>Time:</label>
            <input type="date" class="form-control" th:field="*{time}"/>
            <td th:if="${#fields.hasErrors('time')}" th:errors="*{time}">Name Error</td>
        </div>
        <div style="padding: 10px">
            <label>Temperature in:</label>
            <input type="text" class="form-control" th:field="*{temp_in}"/>
            <td th:if="${#fields.hasErrors('temp_in')}" th:errors="*{temp_in}">Name Error</td>
        </div>
        <div style="padding: 10px">
            <label>Temperature out:</label>
            <input type="text" class="form-control" th:field="*{temp_out}"/>
            <td th:if="${#fields.hasErrors('temp_out')}" th:errors="*{temp_out}">Name Error</td>
        </div>
        <div style="padding: 10px">
            <label>Temperature set:</label>
            <input type="text" class="form-control" th:field="*{temp_set}"/>
            <td th:if="${#fields.hasErrors('temp_set')}" th:errors="*{temp_set}">Name Error</td>
        </div>
        <div style="padding: 10px">
            <label>Epsilon: </label>
            <input type="text" class="form-control" th:field="*{epsilon}"/>
            <td th:if="${#fields.hasErrors('epsilon')}" th:errors="*{epsilon}">Name Error</td>
        </div>
    </div>
    <div>
        <div style="padding: 10px">
            <button type="submit">Add Batch</button>
        </div>
    </div>
</form>
</body>
</html>